{% extends 'dashboard/Admin_Dashboard.html' %}
{% load static %}
{% block mein %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Attendance</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">Attendance Edit List</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                    <h5>Attendance Update</h5>
                                    </div>
                                
                                    <div class="card-body">
                                        <form method="POST">
                                            {% csrf_token %}
                                        
                                            <div class="row g-3">
                                        
                                                <div class="col-md-6">
                                                <label>Employee</label>
                                                <select name="employee" class="form-control">
                                                    {% for emp in employees %}
                                                    <option value="{{ emp.id }}">{{ emp.username }}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                        
                                                <div class="col-md-6">
                                                <label>Date</label>
                                                <input type="date" name="date" class="form-control" value="{{attendance.date|date:'Y-m-d'}}">
                                                </div>
                                        
                                                <div class="col-md-6">
                                                <label>Check In</label>
                                                <input type="time" name="check_in" class="form-control" value="{{attendance.check_in|time:'H:i'}}">
                                                </div>
                                        
                                                <div class="col-md-6">
                                                <label>Check Out</label>
                                                <input type="time" name="check_out" class="form-control" value="{{attendance.check_out|time:'H:i'}}">
                                                </div>
                                        
                                                <div class="col-md-6">
                                                    <label>Status</label>
                                                    <select name="status" class="form-control">
                                                      <option value="Present" {% if attendance.status == "Present" %}selected{% endif %}>Present</option>
                                                      <option value="Absent" {% if attendance.status == "Absent" %}selected{% endif %}>Absent</option>
                                                      <option value="Half Day" {% if attendance.status == "Half Day" %}selected{% endif %}>Half Day</option>
                                                    </select>
                                                  </div>
                                        
                                            </div>
                                        
                                            <input type="submit" class="btn btn-primary mt-3" value="Update">
                                        
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}
