{% extends 'dashboard/Admin_Dashboard.html' %}
{% load static %}
{% block mein %}
 <!-- [ Main Content ] start -->
 <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Attendance</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">Attendance List</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ stiped-table ] start -->
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Attendance List Table</h5>
                                    </div>
                                    <div class="card-body table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Employee</th>
                                                        <th>Date</th>
                                                        <th>Check In</th>
                                                        <th>Check Out</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for att in attendance %}
                                                    <tr>
                                                        <td>{{att.id}}</td>
                                                        <td>{{att.employee.username}}</td>
                                                        <td>{{att.date}}</td>
                                                        <td>{{att.check_in |default:'--'}}</td>
                                                        <td>{{att.check_out|default:'--'}}</td>
                                                        <td>
                                                            {% if att.status == "Present" %}
                                                            <span class="badge badge-success fw-bold">Present</span>
                                                            {% elif att.status == "Absent" %}
                                                            <span class="badge badge-danger fw-bold">Absent</span>
                                                            {% else %}
                                                            <span class="badge badge-warning fw-bold">Half Day</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'edit-attendance' pk=att.id %}" class="table-link  text-info">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="{% url 'delete-attendance' pk=att.id %}" class="table-link text-danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-minus-circle fa-stack-1x fa-inverse"></i>
                                                                </span>  
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ stiped-table ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
