{% extends 'dashboard/Employee_Dashboard.html' %}
{% load static %}
{% block mein %}
 <!-- [ Main Content ] start -->
 <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Attendance</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'employee-dashboard' %}"><i class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">{{user.first_name}} {{user.last_name}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ sample-page ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header card-body text-center">
                                        <h5 class="mb-3">Mark Attendance</h5>
                                        <p class="text-muted mb-3">{{ today_date }}</p>

                                        {% if today_attendance.status == "Present" %}
                                            <span class="badge badge-success px-4 py-2 rounded-pill">Present</span>
                                        {% elif today_attendance.status == "Absent" %}
                                            <span class="badge badge-danger px-4 py-2 rounded-pill">Absent</span>
                                        {% else %}
                                            <span class="badge badge-secondary px-4 py-2 rounded-pill">Not Marked</span>
                                        {% endif %}
                                        </div>

                                         <hr class="m-0">

                                        <!-- TIME -->
                                        <div class="card-body">
                                        <div class="row text-center">

                                            <div class="col-md-6 border-end">
                                            <p class="text-muted mb-1">Check In</p>
                                            <h4 class="fw-bold">
                                                <span class=" btn btn-secondary">
                                                   {{ today_attendance.check_in|default:"--"|time:"H:i" }}
                                                </span>
                                            </h4>
                                            </div>

                                            <div class="col-md-6">
                                            <p class="text-muted mb-1">Check Out</p>
                                            <h4 class="fw-bold">
                                               <span class=" btn btn-secondary">
                                                {{ today_attendance.check_out|default:"--"|time:"H:i" }}
                                               </span> 
                                            </h4>
                                            </div>

                                        </div>
                                        </div>

                                        <hr class="m-0">

                                        <!-- ACTION -->
                                        <div class="card-body text-center">

                                        

                                        <form method="POST">
                                            {% csrf_token %}

                                            <div class="d-flex justify-content-center gap-3">

                                            <button name="action" value="checkin"
                                                class="btn btn-success px-4 py-2 d-flex align-items-center gap-2 shadow-sm">
                                                <i class="bi bi-box-arrow-in-right"></i>
                                                Check In
                                            </button>

                                            <button name="action" value="checkout"
                                                class="btn btn-danger px-4 py-2 d-flex align-items-center gap-2 shadow-sm">
                                                <i class="bi bi-box-arrow-right"></i>
                                                Check Out
                                            </button>

                                            </div>
                                        </form>

                                        <!-- STATUS MSG -->
                                        <div class="mt-3 text-muted">
                                            {% if today_attendance.check_in and not today_attendance.check_out %}
                                            Checked in at {{ today_attendance.check_in|time:"H:i" }}
                                            {% elif today_attendance.check_out %}
                                            Attendance completed
                                            {% else %}
                                            Not checked in today
                                            {% endif %}
                                        </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}