{% extends 'dashboard/Admin_Dashboard.html' %}
{% load static %}
{% block mein %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Sample Page</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">Sample Page</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Striped Table</h5>
                                    </div>
                                    <div class="card-body table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Title</th>
                                                        <th>Description</th>
                                                        <th>assigned_to</th>
                                                        <th>assigned_by</th>
                                                        <th>Status</th>
                                                        <th>Due Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for task in tasks %}
                                                    <tr>
                                                        <td>{{task.id}}</td>
                                                        <td>{{task.title}}</td>
                                                        <td>{{task.description}}</td>
                                                        <td>{{task.assigned_to.first_name}} {{task.assigned_to.last_name}}</td>
                                                        <td>{{ task.assigned_by.username}}</td>
                                                        <td>
                                                        {% if task.status == "Pending" %}
                                                        <span class="badge badge-danger">Pending</span>
                                                        {% elif task.status == "In Progress" %}
                                                        <span class = "badge badge-warning">In Progress</span>
                                                        {% else %}
                                                        <span class="badge badge-success">Completed</span>
                                                        {% endif %}
                                                        </td>
                                                        <td>{{task.due_date}}</td>
                                                        <td>
                                                            <a href="{% url 'task-edit' pk=task.id %}" class="table-link  text-info">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="{% url 'task-delete' pk=task.id %}" class="table-link text-danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-minus-circle fa-stack-1x fa-inverse"></i>
                                                                </span>  
                                                            </a>
                                                        </td>
                                                    </tr>
                                                   {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ stiped-table ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}