
{% extends 'dashboard/Admin_Dashboard.html' %}
{% load static %}
{% block mein %}
 <!-- [ Main Content ] start -->
 <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Employee</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}"><i class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">{{emp.user.first_name}} {{emp.user.last_name}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                           <!-- [ Main Content ] end -->
                        
                            <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                <img src="{{emp.user.profile_pic.url}}" alt="avatar" 
                                    class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">{{emp.user.first_name}} {{emp.user.last_name}}</h5>
                                <p class="text-muted mb-1">{{emp.designation}}</p>
                                <p class="text-muted mb-4">{{emp.user.address}},</p>
                                <div class="d-flex justify-content-center mb-2">
                                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Follow</button>
                                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1">Message</button>
                                </div>
                                </div>
                                <div class="card-body">
                                    <div class="progress mb6">
                                        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                            <div class="col-lg-8">
                            <div class="card mb-4">
                                <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                    <p class="mb-0">User Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{emp.user.first_name}} {{emp.user.last_name}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{emp.user.email}}</p>
                                    </div>
                                </div>
                                <hr>
                               
                                <div class="row">
                                    <div class="col-sm-3">
                                    <p class="mb-0">Mobile</p>
                                    </div>
                                    <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{emp.user.phone}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{emp.user.address}}</p>
                                    </div>
                                </div>
                                <hr>
                                <!-- <div class="row">
                                    <div class="col-sm-3">
                                    <p class="mb-0">Password</p>
                                    </div>
                                    <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{emp.user.password}}</p>
                                    </div>
                                </div>
                                <hr> -->
                                <div class="row">
                                    <div class="col-sm-3">
                                    <p class="mb-0">Join Date</p>
                                    </div>
                                    <div class="col-sm-9">
                                    <p class="text-muted mb-0">Date : {{emp.join_date}} </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                    <p class="mb-0">Role</p>
                                    </div>
                                    <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{emp.user.role}}</p>
                                </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                    <p class="mb-0">Department</p>
                                    </div>
                                    <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{emp.department.name}}</p>
                                    <p class="text-muted mb-0">{{emp.department.description}}</p>
                                </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                    <p class="mb-0">Designation</p>
                                    </div>
                                    <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{emp.designation}}</p>
                                </div>
                                </div>
                                </div>
                            </div>
                            
                        </div>
                                
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}