{% extends 'dashboard/Admin_Dashboard.html' %}
{% load static %}
{% block mein %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Leave List</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">Leave Page</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- Employee Table Start -->
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Leave List</h5>
                                    </div>

                                    <div class="card-body table-border-style">
                                        <div class="table-responsive">

                                            <table class="table table-striped">

                                                <thead>
                                                    <tr>                                                       
                                                        <th>Employee</th>
                                                        <th>From</th>
                                                        <th>To</th>
                                                        <th>Reason</th>
                                                        <th>Status</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>

                                                <tbody>

                                                    <tr>
                                                        <td>Rahul</td>

                                                        <td>12-06-2026</td>

                                                        <td>15-06-2026</td>

                                                        <td>Family Function</td>

                                                        <td>Pending</td>

                                                        <td class="text-center">
                                                            <!-- <a href="" class="table-link  text-warning">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a> -->
                                                            <a href="" class="table-link  text-info">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="" class="table-link text-danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-minus-circle fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </td>

                                                    </tr>
                                                    
                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Employee Table End -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}