{% extends 'dashboard/Employee_Dashboard.html' %}
{% load static %}
{% block mein %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">My Leave</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'employee-dashboard' %}"><i class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#!">Leave Information</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Striped Table</h5>
                                    </div>
                                    <div class="card-body table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>From</th>
                                                        <th>To</th>
                                                        <th>Reason</th>
                                                        <th>Status</th> 
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for l in leaves %}
                                                    <tr>
                                                        
                                                        <td>{{l.start_date}}</td>
                                                        <td>{{l.end_date}}</td>
                                                        <td>{{l.reason}}</td>
                                                        <td>
                                                            {% if l.status == "Pending" %}
                                                            <span class="badge badge-warning">Pending</span>
                                                            {% elif l.status == "Approved" %}
                                                            <span class="badge badge-success">Approved</span>
                                                            {% else %}
                                                            <span class="badge badge-danger">Rejected</span>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                   {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}