{% extends 'dashboard/admin_dashboard.html' %}
{% load static %}
{% block meincontaint %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">

                <div class="main-body">
                    <div class="page-wrapper">

                        <!-- Page Header -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Employee List</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Employee Table -->
                        <div class="row">
                            <div class="col-xl-12">

                                <div class="card">
                                    <div class="card-header">
                                        <h5>Employees</h5>
                                    </div>

                                    <div class="card-body table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th class="text-center">Employee</th>
                                                        <th>Department</th>
                                                        <th>Designation</th>
                                                        <th>UserName</th>
                                                        <th>Joining Date</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                            
                                                <tbody>
                                                    <tr>
                                                        <!-- Serial -->
                                                        <td>1</td>
                                            
                                                        <!-- Employee Info -->
                                                        <td>
                                                            <div style="display:flex; align-items:center; gap:12px;">
                                            
                                                                <!-- Profile Photo -->
                                                                <img src="{% static 'assets/images/user/avatar-2.jpg' %}" 
                                                                style="width:50px;height:50px;border-radius:50%;object-fit:cover;">
                                            
                                                                <!-- Basic Info -->
                                                                <div>
                                                                    <strong>Meera Rajput</strong><br>
                                            
                                                                    <small>meerarajput@gmail.com</small><br>
                                            
                                                                    <small>9999999999</small><br>
                                                                                     
                                                                    <small>Role : Employee</small><br>
                                            
                                                                </div>
                                            
                                                            </div>
                                                        </td>
                                                        <td>IT</td>
                                                        <td>Backend Developer</td>
                                                        <td>IT Section</td>

                                                        <!-- Joining Date -->
                                                        <td>
                                                            12 Jan 2026
                                                        </td>
                                            
                                                        <!-- Status -->
                                                        <td>
                                                            <span class="badge badge-success">Active</span>
                                                        </td>
                                            
                                                    </tr>
                                                    <tr>
                                                        <!-- Serial -->
                                                        <td>1</td>
                                            
                                                        <!-- Employee Info -->
                                                        <td>
                                                            <div style="display:flex; align-items:center; gap:12px;">
                                            
                                                                <!-- Profile Photo -->
                                                                <img src="{% static 'assets/images/user/avatar-2.jpg' %}" 
                                                                style="width:50px;height:50px;border-radius:50%;object-fit:cover;">
                                            
                                                                <!-- Basic Info -->
                                                                <div>
                                                                    <strong>Meera Rajput</strong><br>
                                            
                                                                    <small>meerarajput@gmail.com</small><br>
                                            
                                                                    <small>9999999999</small><br>
                                                                                     
                                                                    <small>Role : Employee</small><br>
                                            
                                                                </div>
                                            
                                                            </div>
                                                        </td>
                                                        <td>IT</td>
                                                        <td>Backend Developer</td>
                                                        <td>IT Section</td>

                                                        <!-- Joining Date -->
                                                        <td>
                                                            12 Jan 2026
                                                        </td>
                                            
                                                        <!-- Status -->
                                                        <td>
                                                            <span class="badge badge-success">Active</span>
                                                        </td>
                                            
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}